body{
    background: url("img5.jpg");
    background-size: cover;
    overflow-x: hidden;
}


.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
    color: white;
}

.left img {
    width: 230px;
    height: 250px;
    mix-blend-mode:color-dodge;
    position: relative;
    margin-top: -35px;
    margin-right: 55px;
   
    
}
.left .text{
    position: absolute;
    margin-top: -195px;
    margin-left: 146px;

}


.left div {
    line-height: 19px;
    font-size: 20px;
    text-align: center;
}
.left{
    font-family:'Baloo Bhai', cursive;
   
}

.mid {
    display: block;
    width: 36%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 20px 10px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;


}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

/* Contact Form */

.container {
    /* border: 2px solid black; */
    margin: -100px 80px;
    padding: 75px;
    width: 33%;
    /* border-radius: 28px; */
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 425px;
    padding: 5px;
    /* border: 0px solid rgb(77, 50, 50); */
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    margin: 50px -9px;
    background-color: black;
    color: white;
    padding: 5px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}
/* VIDEO */
.video{
    margin: 50px;
    margin-top: 90px;
    
}

/* About us */

.about{
    margin: 150px 200px;
    margin-left: -10px;
    margin-top: -1px;
    width: 100px;
    height: 10px;
    padding: 40px;
    
}
html{
    height: 100%;
}

.img{
    float: left;
    width: 900px;
    height: 800px;
    padding: 0 10px;
}
.heading{
    color: white;
    margin: 175px;
    margin-top: -200px;
    margin-left: 290px;
    text-decoration: underline;

}
.para{
    text-align: left;
    text-decoration: none;
    color: white;
    margin: -100px;
    margin-top: -160px;
    margin-left: 290px;
}

.trainer{
    margin: 140px 200px;
    margin-left: -10px;
    width: 100px;
    height: 10px;
    padding: 40px;

}
.About_Trainer{
    text-decoration: underline;
}


/* Gallery */
.gallery{   
    img{
        height: 300px;
        width: 300px;
        margin: 25px;
        margin-left: 75px;
        margin-right: 75px;
        /* display: inline-block; */
        
    }
        
}

/* Media Querry */

@media only screen and (max-width: 768px) {
    .container{
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 540px) {
    .header ul :nth-child(2){
        display: none;


    }
}


